* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.box-container {
    height: 75vh;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    margin: 0 auto;
    border-radius: 10px;
    width: 75%;
    height: 75%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}