* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 75%;
    height: 95vh;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-image4 {
    grid-column: 1/4;
    grid-row: 2/4;
}